In [2]:
import pandas as pd

In [3]:
state_pops = pd.read_csv('./states_population.csv')
state_pops['NAME'] = state_pops['NAME'].str.lower()
state_pops['NAME'] = state_pops['NAME'].str.replace(' ', '')

In [4]:
state_pops

             NAME  POPESTIMATE2020
0         alabama          5024803
1          alaska           732441
2         arizona          7177986
3        arkansas          3012232
4      california         39499738
5        colorado          5784308
6     connecticut          3600260
7        delaware           991886
8         florida         21569932
9         georgia         10725800
10         hawaii          1451911
11          idaho          1847772
12       illinois         12785245
13        indiana          6785644
14           iowa          3188669
15         kansas          2935880
16       kentucky          4503958
17      louisiana          4651203
18          maine          1362280
19       maryland          6172679
20  massachusetts          7022220
21       michigan         10067664
22      minnesota          5707165
23    mississippi          2956870
24       missouri          6154481
25        montana          1086193
26       nebraska          1961455
27         nevada          3114071
28   newhampshire          1377848
29      newjersey          9279743
30      newmexico          2117566
31        newyork         20154933
32  northcarolina         10457177
33    northdakota           778962
34           ohio         11790587
35       oklahoma          3962031
36         oregon          4241544
37   pennsylvania         12989625
38    rhodeisland          1096229
39  southcarolina          5130729
40    southdakota           887099
41      tennessee          6920119
42          texas         29217653
43           utah          3281684
44        vermont           642495
45       virginia          8632044
46     washington          7718785
47   westvirginia          1789798
48      wisconsin          5892323
49        wyoming           577267

In [5]:
pop_dict = {state: pop for state, pop in zip(state_pops['NAME'], state_pops['POPESTIMATE2020'])}
del state_pops

In [6]:
spelling_dict = dict()
valid_subsets = dict()

for state_name in pop_dict.keys():
    valid_subsets[state_name] = set()
    # replacing each character with any other alphabet character
    for i in range(len(state_name)):
        for c in 'abcdefghijklmnopqrstuvwxyz':
            altered_name = state_name[:i] + c + state_name[i+1:]
            spelling_dict[altered_name] = state_name
            
            for j in range(1, len(altered_name) + 1):
                valid_subsets[state_name].add(altered_name[:j])

In [7]:
single_dict = dict()
double_dict = dict()
triple_dict = dict()
quad_dict = dict()

for state in pop_dict.keys():
    for i in range(len(state)):
        # Single character sequences
        single = state[i]
        single_dict[single] = single_dict.get(single, 0) + 1

        # Double character sequences
        if i < len(state) - 1:
            double = state[i:i+2]
            double_dict[double] = double_dict.get(double, 0) + 1

        # Triple character sequences
        if i < len(state) - 2:
            triple = state[i:i+3]
            triple_dict[triple] = triple_dict.get(triple, 0) + 1

        # Quadruple character sequences
        if i < len(state) - 3:
            quad = state[i:i+4]
            quad_dict[quad] = quad_dict.get(quad, 0) + 1

In [8]:
def is_valid_subset(curr_str, covered):
    for state, subsets in valid_subsets.items():
        if curr_str in subsets and state not in covered:
            return True
        
    return False

def get_valid_moves(grid, curr_str, i, j, covered):
    dirs = [(1, 1), (1, -1), (-1, 1), (-1, -1), (1, 0), (-1, 0), (0, 1), (0, -1)]
    moves = [(i + i_, j + j_) for i_, j_ in dirs if 0 <= i + i_ < len(grid) and 0 <= j + j_ < len(grid[0])]
    return [(i, j) for i, j in moves if is_valid_subset(curr_str + grid[i][j], covered)]

def get_names(grid, i, j, covered):
    
    def dfs(curr_i, curr_j, curr_str):
        if curr_str in spelling_dict:
            covered.add(spelling_dict[curr_str])
            return

        valid_moves = get_valid_moves(grid, curr_str, curr_i, curr_j, covered)
        for next_i, next_j in valid_moves:
            dfs(next_i, next_j, curr_str + grid[next_i][next_j])
            
    dfs(i, j, grid[i][j])
    return covered

def get_score(grid):
    covered = set()
    score = 0
    for i in range(len(grid)):
        for j in range(len(grid[0])):
            covered = get_names(grid, i, j, covered)
            
    for state in covered:
        score += pop_dict[state]
        
    return score, covered

In [9]:
grid = [['t', 'h', 'o'],
        ['a', 'i', 'n'],
        ['e', 's', 'l']]

score, states = get_score(grid)

In [13]:
# print the score with commas for better readability
print(f'{score:,}')
print(states)

32,893,957
{'illinois', 'utah', 'ohio', 'iowa', 'idaho'}

In [11]:
print(sorted(double_dict.items(), key=lambda x: x[1], reverse=True))

[('in', 11), ('ne', 10), ('an', 9), ('or', 8), ('as', 7), ('on', 7), ('ia', 7), ('is', 7), ('la', 6), ('ar', 6), ('na', 6), ('ma', 5), ('da', 5), ('ss', 5), ('mi', 5), ('ta', 5), ('ka', 4), ('ns', 4), ('li', 4), ('ni', 4), ('co', 4), ('nn', 4), ('ut', 4), ('wa', 4), ('ou', 4), ('si', 4), ('hi', 4), ('so', 4), ('ew', 4), ('th', 4), ('al', 3), ('ri', 3), ('sa', 3), ('ca', 3), ('ol', 3), ('lo', 3), ('ic', 3), ('re', 3), ('rg', 3), ('gi', 3), ('ah', 3), ('ho', 3), ('no', 3), ('nd', 3), ('en', 3), ('nt', 3), ('se', 3), ('es', 3), ('ot', 3), ('ir', 3), ('am', 2), ('sk', 2), ('rk', 2), ('ra', 2), ('ad', 2), ('de', 2), ('aw', 2), ('id', 2), ('ha', 2), ('ai', 2), ('io', 2), ('yl', 2), ('ch', 2), ('mo', 2), ('va', 2), ('sh', 2), ('er', 2), ('ex', 2), ('wy', 2), ('yo', 2), ('rt', 2), ('hc', 2), ('ro', 2), ('hd', 2), ('ak', 2), ('ko', 2), ('om', 2), ('te', 2), ('vi', 2), ('ng', 2), ('ab', 1), ('ba', 1), ('iz', 1), ('zo', 1), ('if', 1), ('fo', 1), ('rn', 1), ('do', 1), ('ec', 1), ('ct', 1), ('ti', 1), ('cu', 1), ('el', 1), ('fl', 1), ('ge', 1), ('eo', 1), ('ii', 1), ('il', 1), ('ll', 1), ('oi', 1), ('di', 1), ('ow', 1), ('ke', 1), ('tu', 1), ('uc', 1), ('ck', 1), ('ky', 1), ('ui', 1), ('ry', 1), ('ac', 1), ('hu', 1), ('us', 1), ('et', 1), ('tt', 1), ('ts', 1), ('ig', 1), ('ga', 1), ('ip', 1), ('pp', 1), ('pi', 1), ('ur', 1), ('eb', 1), ('br', 1), ('ev', 1), ('wh', 1), ('mp', 1), ('ps', 1), ('wj', 1), ('je', 1), ('rs', 1), ('ey', 1), ('wm', 1), ('me', 1), ('xi', 1), ('oh', 1), ('ok', 1), ('kl', 1), ('eg', 1), ('go', 1), ('pe', 1), ('sy', 1), ('lv', 1), ('rh', 1), ('od', 1), ('ei', 1), ('sl', 1), ('ee', 1), ('xa', 1), ('ve', 1), ('rm', 1), ('gt', 1), ('to', 1), ('we', 1), ('st', 1), ('tv', 1), ('wi', 1), ('sc', 1)]

In [14]:
print(sorted(single_dict.items(), key=lambda x: x[1], reverse=True))

[('a', 61), ('i', 44), ('n', 43), ('o', 36), ('s', 32), ('e', 28), ('r', 22), ('t', 19), ('l', 15), ('h', 15), ('m', 14), ('c', 12), ('d', 11), ('w', 11), ('k', 10), ('u', 8), ('g', 8), ('y', 6), ('v', 5), ('p', 4), ('b', 2), ('f', 2), ('x', 2), ('z', 1), ('j', 1)]

In [344]:
grid = [['g', 'b', 'c', 'd', 'h'],
        ['h', 'm', 'a', 'i', 'f'],
        ['q', 'e', 'n', 'o', 'l'],
        ['x', 't', 'w', 'r', 'y'],
        ['s', 'u', 'v', 'k', 'j']]

score1, states1 = get_score(grid)

grid = [['b', 'c', 's', 'm', 'a'],
        ['s', 'a', 'i', 'l', 'p'],
        ['d', 'n', 'o', 'f', 'h'],
        ['t', 'e', 'r', 'y', 'x'],
        ['u', 'g', 'k', 'j', 'w']]

score, states = get_score(grid)
print(f'{score:,}'), states, len(states)

181,551,940

(None,
 {'alabama',
  'california',
  'florida',
  'georgia',
  'illinois',
  'indiana',
  'iowa',
  'kansas',
  'kentucky',
  'louisiana',
  'maine',
  'nevada',
  'newyork',
  'ohio',
  'oregon',
  'texas'},
 16)

In [327]:
len(states1)

19

In [213]:
print(sorted(pop_dict.items(), key=lambda x: x[1], reverse=True))

[('california', 39499738), ('texas', 29217653), ('florida', 21569932), ('newyork', 20154933), ('pennsylvania', 12989625), ('illinois', 12785245), ('ohio', 11790587), ('georgia', 10725800), ('northcarolina', 10457177), ('michigan', 10067664), ('newjersey', 9279743), ('virginia', 8632044), ('washington', 7718785), ('arizona', 7177986), ('massachusetts', 7022220), ('tennessee', 6920119), ('indiana', 6785644), ('maryland', 6172679), ('missouri', 6154481), ('wisconsin', 5892323), ('colorado', 5784308), ('minnesota', 5707165), ('southcarolina', 5130729), ('alabama', 5024803), ('louisiana', 4651203), ('kentucky', 4503958), ('oregon', 4241544), ('oklahoma', 3962031), ('connecticut', 3600260), ('utah', 3281684), ('iowa', 3188669), ('nevada', 3114071), ('arkansas', 3012232), ('mississippi', 2956870), ('kansas', 2935880), ('newmexico', 2117566), ('nebraska', 1961455), ('idaho', 1847772), ('westvirginia', 1789798), ('hawaii', 1451911), ('newhampshire', 1377848), ('maine', 1362280), ('rhodeisland', 1096229), ('montana', 1086193), ('delaware', 991886), ('southdakota', 887099), ('northdakota', 778962), ('alaska', 732441), ('vermont', 642495), ('wyoming', 577267)]

In [376]:
grid = [['m', 'i', 's', 'f', 'i'],
        ['a', 'n', 'y', 'l', 'v'],
        ['e', 'n', 'o', 'a', 'o'],
        ['p', 'a', 'i', 'r', 's'],
        ['u', 's', 'k', 'e', 't']]


score, states = get_score(grid)
print(f'{score:,}'), states, len(states)

142,595,854

(None,
 {'alaska',
  'arizona',
  'arkansas',
  'florida',
  'illinois',
  'indiana',
  'iowa',
  'kansas',
  'louisiana',
  'maine',
  'newyork',
  'ohio',
  'oregon',
  'pennsylvania',
  'texas'},
 15)

In [359]:
states1 - states

set()